{% block main %}
    {% block style %}
        <style>
        </style>
    {% endblock %}

    <div class="actions container p-3 d-flex flex-row-reverse">
        <form id="export-usage-data">
            <div class="form-inline">
                <div
                    class="form-row datetime-widget datetime-widget-datetime d-flex mr-2"
                    {{ stimulus_controller('chart') }}
                >
                    <label for="fromDate" class="form-control bg-body-secondary px-2 fs-6 rounded-start-3">
                        Période
                    </label>

                    <input
                        name="from_date"
                        type="date"
                        {{ stimulus_action('chart', 'onPeriodChange', 'change') }}
                        class="bg-body-secondary fw-bold form-date"
                        id="fromDate"
                        style="border: none"
                    />

                    <label for="toDate" class="form-control bg-body-secondary px-2 fs-6">
                        à
                    </label>

                    <input
                        name="to_date"
                        type="date"
                        {{ stimulus_action('chart', 'onPeriodChange', 'change') }}
                        class="fw-bold bg-body-secondary rounded-end-3 form-date"
                        id="toDate"
                        style="border: none"
                    />

                    {% include 'admin/_weekday_filter.html.twig' %}
                </div>

                <div class="ms-2 d-block" {{ stimulus_controller('export') }}>
                    <a
                        {{ stimulus_action('export', 'getData', 'click', { formUrl: url('export_usage') }) }}
                        class="btn btn-primary px-2"
                    >
                        <i class="fa-solid fa-arrow-up-right-from-square ms-1"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div
        data-controller="chart"
        class="justify-content-center container pb-2 mt-3"
    >
        <div class="card rounded-3 pb-3 my-3 shadow">
            <div id="chart" style="height: 400px;"></div>
        </div>

        <div class="card shadow rounded-3 pb-3">
            <div id="chart2" style="height: 400px;"></div>
        </div>
    </div>

    {% include 'admin/_users_kpi_card.html.twig' %}
{% endblock %}
